  <div class="cv">
    <section>
      <h1>Nursultan Akmatov</h1>
      <h2>Tech Support / Hybrid</h2>

      <div class="contacts">
        <div class="contact">
          <div class="contact__type">
            Github
          </div>
          <div class="contact__value">
            <a href="https://github.com/zen-nur">github.com/zen-nur</a>
          </div>
        </div>
        <div class="contact">
          <div class="contact__type">
            Email
          </div>
          <div class="contact__value">
            <a href="mailto:nursultan.akmatov@icloud.com">nursultan.akmatov@icloud.com</a>
          </div>
        </div>
        <div class="contacts">
        <div class="contact">
          <div class="contact__type">
            Mobile
          </div>
          <div class="contact__value">
            <a href="+996502332022">+996502332022</a>
          </div>
        </div>
      </div>
      <div class="description">
        I am hardworking and ambitious individual with a
		passion to become an Android developer. I am quick
		learner and eager to learn new things. I enjoy
		overcoming challenges in order to grow and improve my
		IT-skills. I love solving problems and putting all my
		effort to it. I am looking for an oportunity to work with
		you and to be useful for the company.
      </div>
    </section>

    <section>
      <h3>Experience</h3>
      <%=image_tag "front.jpeg", class: "portfolio"%>
      <div class="experience">
        <div class="experience__date">May 2016 - Jul 2018</div>
        <div class="experience__description">
          <p><div class="experience__name">Front Desk Agent</div></p>
          <div class="experience__company">"Four Seasons Hotel" Abu Dhabi.</div>
          <div class="experience__details">
            <ul>
            <li>Worked in international team.</li>
              <li>Greeted and assisted guests with check in / check out requests.</li>
              <li>Extended warm and professional service to exceed guest's expectations.</li>
              <li>Made online and email reservations.</li>
              <li>Handled guest's complaints and requests.</li>
              <li>Received Payment / Invoices / Cashiering.</li>
            </ul>
          </div>
        </div>
      </div>

      <section>
      <h3>Dev Skills</h3>
      <%=image_tag "codifylabl.png", class: "Courses"%>
      <div class="experience">
        <div class="experience__date">Nov 2019 - Apr 2020</div>
        <div class="experience__description">
          <p><div class="experience__name">Quality Assurance</div></p>
          <div class="experience__company">"Codifylab" Bishkek.</div>
          <div class="experience__details">
            <ul>
              <li>SDLS/Software Methodologies.</li>
              <li>Testing.</li>
              <li>Database SQL.</li>
              <li>HTML/CSS.</li>
              <%=image_tag "verstka.jpg", class: "verstka"%>
              <li>DevTools.</li>
              <li>API-Postman.</li>
              <li>Jira</li>
              <li>Linux/Ubuntu></li>
              <li>Udemi/Ruby on rails(in progress)</li>
              <p><%=image_tag "yay.png", class: "Rails"%></p>
              <p><a href="https://github.com/zen-nur/My-Blog">My First Blog on Ruby</a></p>
              <p><a href="https://dashboard.heroku.com/apps/nadevenvreacttester">Heroku</a></p>
              <p><li>Raywenderlich.com/Android and Kotlin(in progress)</li></p>
              <p><%=image_tag "kotlin.png", class: "android"%></p>
              <p><div>My first application on Kotlin, is a simple game called <b>"TimeFighter"</b></p><p></div> 
              	<div>You basically have 60 seconds to Tap the <b>Tap Me Button</b> as many times as you can!</div></p>
              	<p><b>Go Beyond the Time!</b></p>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h3>Comunication</h3>
      <p><%=image_tag "skyeng.png", class: "teacher"%></p>
      <div class="experience">
        <div class="experience__date">Sept 2019 - Present</div>
        <div class="experience__description">
          <p><div class="experience__name">Online English Teacher</div></p>
          <div class="experience__company">"SkyEng" Moscow.</div>
          <div class="experience__details">
            <ul>
              <li>Taking entry test to find out student's level.</li>
              <li>Preparing and delivering lessons to improve
                  student's reading, writing, and conversing skills</li>
              <li>Assigning activities to facilitate student's
                  consolidation of learning material.</li>
              <li>Supporting student via email and messengers.</li>
              <li>Remaining up-to-date with our learning software</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h3>Education</h3>

      <div class="experience">
        <div class="experience__date">Aug 2009 - Jun 2010</div>
        <div class="experience__description">
          <p><div class="experience__name">Advanced lvl / IELTS preparation</div></p>
          <div class="experience__company">"Shakespear College" London-UK.</div>
          <div class="experience__details">
            </div>
        </div>
      </div>
      <div class="experience">
        <div class="experience__date">Sept 2010 - Oct 2012</div>
        <div class="experience__description">
          <p><div class="experience__name">BA in Management</div></p>
          <div class="experience__company">"London school of commerce" London-UK.</div>
          <div class="experience__details">
            </div>
        </div>
      </div>


    </section>



    <div>
    	
    </div>
    <section>
      <h3>Languages</h3>
      <div class="languages">
      		<p><b>Russian</b> - Fluent</p>
      		<p><b>English</b> - Excellent</p>
  		</div>
    </section>
  </div>


